jupyterlab
# tests
pytest
pytest-playwright
#playwright
pytest-order
# parallel test
pytest-xdist

#rpaframework
#robotframework
#robotframework-browser
#pyresttest

#pytube

# formater
ruff
# api
httpx
#pydantic
jsonschema
# DB, dto and ORM
#ormar
#duckdb
#'ibis-framework[duckdb]'
tinydb
# report
allure-pytest
# console report
pytest-sugar
# secret store
python-dotenv
'python-dotenv[cli]'
# sys
psutil
schedule
