<!DOCTYPE html>
<html lang="en">

<head>
    {% block head %}

    {% include 'head/meta.html' %}

    <title>{% block title %}{% endblock %}</title>

    <link rel="icon" href="{{ url_for('static', path='/images/favicon.png') }}" sizes="32x32" />

    <!-- Custom CSS -->
    <link href="{{ url_for('static', path='/css/style3.css')}}" rel="stylesheet">
    <link href="{{ url_for('static', path='/css/layout.css')}}" rel="stylesheet">

    <!-- tailwindcss -->
    <script src="https://cdn.tailwindcss.com?plugins=forms,typography,aspect-ratio,line-clamp"></script>

    <!-- HTMX -->
    <script src="https://unpkg.com/htmx.org@1.9.9"></script>

    {% endblock %}
</head>

<body>
    <div class="bg-indigo-950 
                text-green-100 
                relative 
                flex 
                flex-col 
                h-[100vh]
                justify-center 
                overflow-hidden 
                py-6 
                sm:py-12">
        <main class="flex-grow">
            <header class="flex justify-between">
                <div class="logo">
                </div>
                {% include "components/menu/nav.html" %}
            </header>

            <section>{% block content %} {% endblock content %}</section>
        </main>
        {% include "footer/footer.html" %}

        <!-- Core theme JS-->
        <script src="{{ url_for('static', path='/js/scripts.js')}}"></script>
    </div>
</body>

</html>