{% extends "layouts/body2.html" %}

{% block title %}About{% endblock %}

{% block head %}
<style>
    section {
        max-width: 35rem;
        margin: 3.75rem auto 0 auto;
    }
</style>
{% endblock %}

{% block content %}

<section>
    <img class="profile" src="profile.png" alt="Jose's profile picture." />
    <h1>I'm learning HTML and CSS!</h1>
    <p>Hello, my name is Jose Salvatierra. I’m learning about web development, and I’m starting with HTML and CSS.</p>
    <p>With HTML and CSS, I can make all sorts of websites. HTML and CSS are the most important languages to learn!</p>
    <p>This website’s code looks like this:</p>
    <img class="code" src="code.png" alt="The HTML code for this page." />
</section>

{% endblock %}