{% extends "layouts/body2.html" %}

{% block title %}Home{% endblock %}

{% block head %}
<style>
    section {
        max-width: 35rem;
        margin: 3.75rem auto 0 auto;
    }
</style>
{% endblock %}

{% block content %}

<section>
    <h1>Recent Posts</h1>
    <article>
        <div>
            <h2>A bit of a chill day today</h2>
            <time datetime="24-10-2019">Oct 24</time>
        </div>
        <p>
            Today I couldn’t do much programming, but that’s OK!
            Can’t be too awesome every day now!
        </p>
    </article>
    <article>
        <div>
            <h2>A bit of a chill day today</h2>
            <time datetime="24-10-2019">Oct 24</time>
        </div>
        <p>
            Today I couldn’t do much programming, but that’s OK!
            Can’t be too awesome every day now!
        </p>
    </article>
</section>

{% endblock %}