{% extends "base/base.html" %}

{% block head %}
<style>
    .notfound {
        background-color: gray;
        font-size: 125%;
    }
</style>
{% endblock %}

{% block body %}

{% include "components/header/header1.html" %}

<main class="bg-slate-950
    text-green-100
    relative
    flex
    flex-col
    justify-center
    py-6
    sm:py-12">


    {% block content %}{% endblock content %}

    <section class="flex flex-col 
        min-h-screen max-w-screen-lg 
        justify-center items-center 
        overflow-hidden 
        py-6 sm:py-12 m-auto"></section>
</main>
{% include "base/footer/footer.html" %}

<!-- Core theme JS-->
<script src="{{ url_for('static', path='/js/scripts.js')}}"></script>

{% endblock body %}