{% extends "base/base.html" %}

{% block body %}


<main id="content" role="main" class="bg-slate-950
    text-green-100
    relative
    flex
    flex-col
    h-[100vh]
    justify-center
    py-6
    sm:py-12">
    <header class="flex flex-col justify-between">
        <div class="logo">
        </div>
        {% include "components/menu/nav.html" %}
    </header>

    <section class="flex flex-col 
        min-h-screen max-w-screen-lg 
        justify-center items-center 
        overflow-hidden 
        py-6 sm:py-12 m-auto">
        {% block content %} {% endblock content %}
    </section>
</main>
{% include "footer/footer.html" %}

<!-- Core theme JS-->
<script src="{{ url_for('static', path='/js/scripts.js')}}"></script>

{% endblock body %}